.container {
    width: 100vw;
}

.slick-prev:before, .slick-next:before {
    font-size: 20px; /* Размер стрелок */
    color: black; /* Цвет, подобранный в соответствии с дизайном */
}

.slick-prev:before {
    content: '←'; /* Лаконичная левая стрелка */
}

.slick-next:before {
    content: '→'; /* Приятная правая стрелка */
}
