.wrapSection {
  background-color: rgba(32, 32, 32, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapHead {
  width: 620px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
}

.pSection {
  font-size: 16px;
  line-height: 24px;
}

.wrapImg {
  width: 620px;
  
}

.img2 {
  width: 335px;
  height: 448px;
  transform: translate(280px, -150px);
  z-index: 0;
}

.img3 {
  width: 257px;
  height: 311px;
  transform: translate(-300px, -250px);

}

.img1 {
  width: 461px;
  height: 227px;
  transform: translate(70px, 420px);
  z-index: 1;
}
