.bookingButton {
    background-color: #A1FF07; /* Яркий зеленый цвет */
    color: black; /* Цвет текста */
    font-family: "Roboto", sans-serif; /* Шрифт */
    font-size: 16px; /* Размер текста */
    font-weight: 500; /* Толщина текста */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border: none; /* Без рамки */
    border-radius: 8px; /* Закругленные углы */
    cursor: pointer; /* Курсор руки при наведении */
    transition: transform 0.2s ease, background-color 0.2s ease; /* Плавный эффект */
  }
  
  .bookingButton:hover {
    background-color: #92e106; /* Более темный зеленый при наведении */
    transform: scale(1.05); /* Увеличение кнопки */
  }
  
  .bookingButton:active {
    transform: scale(0.95); /* Уменьшение кнопки при нажатии */
  }
  