@import url('https://fonts.cdnfonts.com/css/gilroy-bold?styles=20880');

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gilroy-Regular', sans-serif;
}

li {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: white;
}

.name-head {
    font-size: 32px;
    align-self: flex-start;
    text-decoration: underline solid greenyellow;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

hr {
    height: 3px;
    background-color: rgb(156, 251, 15);
}