.wrapSection {
    background-color: rgba(32, 32, 32, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    gap: 20px;
}

.container {
    width: 1240px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header {
    width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}