.wrapperNav {
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
  }
  
  .ulNav {
    color: white;
    display: flex;
    gap: 90px;
  }
  
  .wrapperAvtorize {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  